

body {
    margin: 60px auto;
    width: 80%;
    background-color: #fffae3;
    color:#651B1B 

}
nav ul, footer ul {
    font-family:'Calibri', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(137, 100, 82);
}
a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 5px; /* Adjust the offset to move the underline lower */
}
h1 {
    font-size: 3em;
    font-family:'Calibri', 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #333;
    
}
.footnote {
    font-size: 1.0em;
    line-height: 1.1em;
}
    
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul li {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #333;
}

#last-updated {
    font-size: 0.7em;
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
    color: rgb(126, 82, 155)
}

.UMD {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .UMD .attribution {
    visibility: hidden;
    width: 420px;
    /* background-color: black; */
    color: red;
    text-align:left;
    border-radius: 0px;
    padding: 0px 20px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 0;
  }

  .UMD:hover {
    text-decoration: underline;
  }
  
  .UMD:hover .attribution {
    visibility: visible;
  }

  #googleForm {
    margin-top: 40px;
    font-size: 12px;
    color:grey
  }
  
  .alignleft {
      float: left;
    margin: 0px 20px 30px 0px; /* add some margin (order: top left bottom right*/
  }
  .alignright {
      float: right;
    margin: 0px 0px 30px 20px; /* add some margin (order: top left bottom right*/
  }
  
  #bottom-bar {
    background-color: #eeeeee; /* background color of the bar */
    color: #008CBA; /* text color */
    text-align: left; /* right the contents */
    text-decoration: none;
    /* padding: 5px 5px 5px 5px; add some padding */
    position: fixed; /* fix the bar to the bottom of the screen */
    left: 0; /* how far from the left of the page does the bar start (should be 0) */
    bottom: 0;
    width: 100%; /* make the bar full width */
    font-size: 15px;
    border-radius: 0px;
    border-top: 2px solid rgb(170, 170, 170);
  }

  #bottom-bar-placeholder {
    /* padding: 5px 5px 5px 5px; add some padding */
    position: fixed; /* fix the bar to the bottom of the screen */
    left: 0;
    bottom: 0;
    width: 100%; 
  }

  .names li {
    float: left; /* the hovertext is false, display inline-block is still needed to remove the bullets */
    display: inline-block;
    margin: 0px 20px 0px 0px; /* add some margin (order: top left bottom right*/
    font-size: 12px;
    color: grey;
  }
  .names a {
    /* font-size: 15px; size of the icons */
    text-decoration: underline;
  }
  .names a:hover {
    color: #0077a8; /* color of the icons on hover */
  }
  
  .social-icons li {
    float: right; /* the hovertext is false, display inline-block is still needed to remove the bullets */
    display: inline-block;
    margin: 0px 20px 0px 0px; /* add some margin (order: top left bottom right*/
  }
  .social-icons a {
    color: #008CBA; /* color of the icons */
    /* font-size: 15px; size of the icons */
    text-decoration: none;
  }
  .social-icons a:hover {
    color: #0077a8; /* color of the icons on hover */
  }


nav ul li a.active {
  text-decoration: underline 2px;
  text-underline-offset: 5px; /* Adjust the offset to move the underline lower */
}

.main.text {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content {
	flex: 1; /* ensures text content takes up the available space */
}

.profile-pic {
	flex-shrink: 0; /* prevents the image from shrinking */
	max-width: 300px; /* adjust based on your preference */
	height: auto; /* maintains aspect ratio */
  padding: 30px;
}